# This file contains the viralrecon configuration settings for variant calling, consensus and generating the VCF using iVar

# LUNAR.config file

cleanup = true

process {
            withName: 'IVAR_CONSENSUS' {
                ext.args = '-t 0.5 -q 30 -m 10 -n N'
                ext.args2 = '--count-orphans --no-BAQ --max-depth 0 --min-BQ 0 -aa'            
            }
            withName: 'IVAR_VARIANTS' {
                ext.args = '-t 0.01 -q 30 -m 10'
                ext.args2 = '--ignore-overlaps --count-orphans --no-BAQ --max-depth 0 --min-BQ 0'
            }
            withName: 'IVAR_VARIANTS_TO_VCF' {
                ext.args = { params.protocol == 'amplicon' ? '--ignore_strand_bias --ignore_merge_codons' : '--ignore_merge_codons' }
            }
}

